h1{
   font-size: 2em;
   color: blue;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border: 1rem;
   display: flex;
} 

p {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}